body{
    margin:auto;
    background:url("Backgrounds.jpg");
    background-size: cover;
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
}
/* ----------Header en menu ------*/    
header{
    background:url(stukjemenu.gif) no-repeat;
    background-size: cover;
    
	
          }
.menu{
    width: 40%;
	margin: 0 auto;
}
header::after{
	content:'';
	display: table;
	clear: both;
	
}

nav{ float: right;
}
nav ul{
	margin: 10;
	padding 0;
	list-style: none;
}
nav li{
	display: inline-block;
	margin-left: 70px;
	padding-top: 25px;
	position: relative;
}
nav a{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

nav a:hover{
	color:#000;
}
nav a::before{
	content:'';
	display: block;
    height: 5px;
    width 100%;
    background-color: #444;
    position: absolute;
    top: 0;
    width: 0%;
    text-align: left;
    transition all ease-in-out 250ms;
}
nav a:hover::before{
    width: 100%;
    
}
.logo{
    float: left;
    padding: 1px 0;
    margin-left: 10px;

}
.active {
    background-color: 	#A9E2F3;
}
/* ----------sectie links ------*/    
   
section {
    float: left;
    width: 45%;
    color: white;
    margin: 50px;
    
}
/* ----------over mij artikel ------*/    

.overmij{
    padding-top: 5px;
    width: 320px;
    padding-right: 5px;
    margin-left: 390px;
    background-color: rgba(0, 0, 255, 0.1);
}
.overmij p{
    display: inline-block;
}
/* ----------mijnfoto ------*/
.links img{
    margin-top: -250px;
    margin-left: 220px;
    border: 1px solid black;
}
/*--------------activatieknop-----------*/
.button2{
    margin-top: -60px;
    margin-left: 833px;
    width: 200px;
    background-color: rgba(0, 0, 255, 0.1);
    
}
/*-----------LOGOs programmas overmij--------*/
#logob{
    margin-left: 850px;
    display: none;
}
#logob img{
    width: 390px;
}
/* ----------index div in de section ------*/
.tekstvlak1 {
    margin-top: 100px;
    margin-left: 350px;
    color: white;
    max-width: 500px;
    
}
/* ----------BUTTON MAINPAGE ------*/

.button {
    background-color: #555555;
    display: block;
    width: 115px;
    height: 25px;
    background: #4E9CAF;
    padding: 9px;
    text-align: center;
    border-radius: 4px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.button:hover{
    background-color:aqua;
}
/* ----------rechterblock pagina ------*/
aside {
    color: white;
    background-color: rgba(0, 0, 255, 0.1);
    float: right;
    width: 25%;
    margin: 53px;
    margin-right: 310px;
    }
aside p{
    display: inline-block;
}
/* ----------form contact h1 ------*/
.cnt{
    margin: 120px;
    margin-left: 600px;
    margin-right: auto;
    width: 420px;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 1px;
    border: 2px solid black
        

}
/* ----------form contact h1 ------*/
input[type="submit"]{
    background-color: #008CBA; /* blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
input:hover[type="submit"]{
    background-color: aqua;
}


/* ----------portfolio opmaak ------*/
.portfoli{
    max-width: 600px;
    margin-top: 0px;
    margin-left: 50px;
    border: 1px solid black;
    border-radius: 25px;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 255, 0.1);
}
/*----------------projecten display----------------*/

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {    
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
/* ----------footer ------*/
footer {
    clear: both;
    margin-bottom: 0;
    position: absolute;
    margin-top: 310px;
    width: 100%;
    background:url("testfooter.gif")no-repeat;
    background-size: cover;
    text-align: center;
    color: black;
    font-size: 12px;
    bottom: 0;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 1550px){
    .modal-content {
        width: 100%;
    }
    
    /*---------media query 700px footer ------ */
    
footer {
    position: fixed;
    margin: auto;
    width: 100%;
    background-image: url("testfooter.gif");
    background:
    background: #1E90FF;
    text-align: center;
    color: black;
    font-size: 12px;
}
    /*-------------media query 700px header -------*/

header{
	background: #1E90FF;
}
.menu{
    width: auto;
	margin: 0 auto;
}
.logo img{
    float: left;
    padding: 1px 0;
    margin-left: 10px;
    width: 100px;
}
    
    /*-----------textvlakintro--------------------*/
.tekstvlak1 {
    margin-top: auto;
    color: white;
    max-width: auto;
    margin-right: auto;
    margin-left: auto;
    }
    
/*------------------over mij pagina-------------------*/
.links img{
    margin-top: auto;
    margin-left: auto;
    border: 1px solid black;
    float: top;
}
    
.overmij{
    padding-top: 5px;
    width: auto;
    padding-right: 5px;
    margin-left: auto;
    background-color: rgba(0, 0, 255, 0.1);
}
.overmij p{
    display: inline-block;
}

/*--------------activatieknop-----------*/
.button2{
    margin-top: auto;
    margin-left: auto;
    width: auto;
    background-color: rgba(0, 0, 255, 0.1);
    
}
/*-----------LOGOs programmas overmij--------*/
#logob{
    margin-left: auto;
    display: none;
}
#logob img{
    width: 350px;
}
/* ----------response asude vaardigheden ------*/
  aside{
      display: none;
    }
    
/* ----------form contact h1 ------*/
.cnt{
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: auto;
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 1px;
    border: 2px solid black
        

}
/* ----------form contact h1 ------*/
input[type="submit"]{
    background-color: #008CBA; /* blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
input:hover[type="submit"]{
    background-color: aqua;
}